html {
	font-family: sans-serif;
	margin: 0;
}

body {
	margin: 0 auto;
	max-width: 900px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	@include theme('background-color', $general-background);
	@include theme('color', $primary-color-text);

	> header {
		order: 0;
		padding: 1em;
		border: solid black;
		border-width: 0 0 1px 0;
		width: 100%;
	}

	> main {
		order: 4;
		padding: .4em 1em .4em .4em;
		width: calc(80% - .4em - 1em);
	}

	> nav {
		order: 2;
		width: 100%;
	}

	> aside {
		order: 4;
		width: calc(20% - .4em);

		ul {
			margin: 0;
			padding: 0 0 0 1em;
		}
	}

	> footer {
		order: 5;
		margin: 1em 0 0 0;
		padding: .4em;
		border: solid black;
		border-width: 1px 0 0 0;
		width: 100%;
		text-align: center;
	}
}

nav {
	> ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
	}

	ul a {
		display: inline-block;
		padding: .4em;
	}
}

section.blogpost {
	margin: 1em 0 3em 0;

	h3 {
		margin: .2em 0;
	}
}

dt {
	font-weight: bold;
}

header > h1 {
	margin: 0;
}

a {
  @include theme('color', $primary-color-link);
  text-decoration: none;
}
