div.wrapper {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 50%;
  top: 5em;
  left: 25%;
  box-shadow: black .2em .2em .5em;
  padding: .2em;
  background-color: #555;
}

div.wrapper menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

div.wrapper textarea {
  width: 100%;
  box-sizing: border-box;
  height: 30em;
}

div.wrapper.show {
  display: flex;
}